.section__title {
  font-size: 2em;
}

.post {
  font-size: 14px;
}

.post__name {
  font-size: 1.5em;
  margin: auto;
}

.section__header {
  font-size: 12px;
}

@media (max-width: 480px) {
  .section__header {
    font-size: 10px;
  }

  .post {
    font-size: 12px;
  }
}